.roundedIcon {
  flex-shrink: 0;
  font-size: 2rem;
  height: 30px;
  margin-top: 0.2rem;
  margin-left: auto;
}

.infoIcon {
  composes: roundedIcon;
  color: var(--ax-text-info-decoration);
}

.warningIcon {
  composes: roundedIcon;
  color: var(--ax-text-warning-decoration);
}

.successIcon {
  composes: roundedIcon;
  color: var(--ax-text-success-decoration);
}

.errorIcon {
  composes: roundedIcon;
  color: var(--ax-text-danger-decoration);
}
