name: Build & Deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  next-app:
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/next-app-v2.yaml@main
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit
    with:
      app: aktivitetskrav-frontend
      base-path: /syk/aktivitetskrav
      node-version: 24.x
